@media (max-width: 1550px) {
  .books-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1200px) {
  .books-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .books-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 450px) {
  .books-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.books-list {
  display: grid;
  justify-content: space-around;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
