@media (max-width: 450px) {
  .homeMainDiv {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
}
@media (max-width: 650px) {
  .homeMainDiv {
    grid-template-columns: 0.2fr 1fr 0.2fr;
  }
  .inHomeMainDiv input {
    width: 50%;
  }
}
@media (max-width: 1550px) {
  .homeMainDiv {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }
  .inHomeMainDiv input {
    width: 50%;
  }
}

.homeMainDiv {
  display: grid;
}

.inHomeMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  input {
    height: 30px;
    font: 1em sans-serif;
    padding: 3px 0 3px 15px;
  }
}
.searchDiv {
  position: absolute;
  right: 10px;
  background-color: rgb(227, 227, 48);
}
